.button {
	background-color: #4CAF50;
	border-radius: 8px;
	border: none;
	color: white;
	padding: 10px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.box {
	float: left;
	margin-right: 20px;
}

.carousel-control-next, .carousel-control-prev {
	filter: invert(100%);
}