.tab {
	width: 250px;
	min-width: 250px;
}
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}
.tab button:hover {
	background-color: #ddd;
}
.tab button.active {
	background-color: #1fbde0;
}
.tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 70%;
	border-left: none;
}
.verti {
	display: flex;
}
h3, p, li, dt, dd {
	margin-left: 40px;
}
.button {
	background-color: #4CAF50;
	border-radius: 12px;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.container {
	display: flex;
	overflow-y: auto;
	flex-direction: row;
	align-items: center;
	padding-bottom:20px;
}